.bg1{
	background-image: url('img/01-1.png');
	width: auto;
	height: 1080px;
}
.bg2{
	background-image: url('img/bg_n.png');
	width: auto;
	height: 1080px;
  z-index: 4;
}
.bg3{
  background-image: url('img/BG.png');
  width: 1920px;
  height: 4934px;
  z-index: 0;

}
.bg4{
  background-image: url('img/BG1.png');
  width: 1920px;
  height: 4934px;
  z-index: 1;
  position: absolute;
  top: 0;
}
.bg5{
  background-image: url('img/Part3/BG.png');
  width: 1920px;
  height: 4934px;
  z-index: 1;
  position: absolute;
  top: 0;
}
.foot{
	width: 100%;
	height: 200px;
}
.set01{
  position: absolute;
	width: auto;
	height: 1080px;
  z-index: -1;
}
.set02{
  position: absolute;
  width: auto;
  height: 1080px;
  z-index: 1;
}
.set03{
  position: absolute;
  width: auto;
  height: 1080px;
  z-index: 1;
}
.set04{
  position: absolute;
  width: auto;
  height: 4934px;
  z-index: 4;
  top: 0;
}
.set05{
  position: absolute;
  width: 100%;
  height: 4934px;
  z-index: 3;
  top: 0;
}
*{
	overflow-x: hidden;
	cursor: url(bc.cur), auto;
}

.ul {
    position: fixed;
    right: 1rem;
    top: 30%;
    z-index: 100;
    width: 10%;
}
.navig:hover {
    filter: drop-shadow(0 0 7px rgb(255, 255, 255, 1));
    fill: rgb(255, 255, 255, 1);
}

.navig {
    transition: .3s;
    fill: rgb(255, 255, 255, 0);
}
.sli:hover {
    cursor: url(rc.cur), auto;
}

.go{
	transition: .5s;
}
.go:hover {
	cursor: url(rc.cur), auto;
	transform: scale(1.2);
	box-shadow: 0 0 50px #32CD32;
}
.an01 {
  animation: an01 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes an01 {
	from{ right: 0px; opacity: 1; }
	to { right: -500px; opacity: 0; }
}
.an02 {
  animation: an02 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes an02 {
	from{ right: 0px; opacity: 1; }
	to { right: 500px; opacity: 0; }
}
.an03 {
  animation: an03 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes an03 {
	from{ right: 200px; opacity: 1; }
	to { right: 700px; opacity: 0; }
}
.an04 {
  animation: an04 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes an04 {
	from{ right: 22px; opacity: 1; }
	to { right: 522px; opacity: 0; }
}
.an05 {
  animation: an05 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes an05 {
	from{ right: -70px; opacity: 1; }
	to { right: -570px; opacity: 0; }
}
.an06 {
  animation: an06 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes an06 {
	from{ right: 50px; opacity: 1; }
	to { right: -450px; opacity: 0; }
}
.an07 {
  animation: an07 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes an07 {
	from{ top: 0px; opacity: 1; transform: scale(1);}
	to { top: 600px; opacity: 0; transform: scale(0.25);}
}