*{
	overflow-x: hidden;
	cursor: url(bc.cur), auto;
}
body{
	margin: 0;
}
.bg01{
	background-image: url("img/01-1.png");
	width: 100%;
	height: 51vw;
	background-attachment: fixed;
}
.ul {
    position: fixed;
    right: 1rem;
    top: 30%;
    z-index: 100;
    width: 10%;
}
.navig:hover {
    filter: drop-shadow(0 0 7px rgb(255, 255, 255, 1));
    fill: rgb(255, 255, 255, 1);
}

.navig {
    transition: .3s;
    fill: rgb(255, 255, 255, 0);
}
.sli:hover {
    cursor: url(rc.cur), auto;
}
.go{
	transition: .5s;
}
.go:hover {
	cursor: url(rc.cur), auto;
	transform: scale(1.2);
	box-shadow: 0 0 50px #32CD32;
}
/*Animation1*/
.an01{
	transform: rotate(35deg);
	z-index: 1;
	animation: an01 1s linear infinite;
  	animation-play-state: paused;
  	animation-delay: calc(var(--scroll) * -1s);
  	animation-iteration-count: 1;
  	animation-fill-mode: both;
}
@keyframes an01 {
	0%{ right: -15vw; opacity: 1; }
	80%{ right: -25vw; opacity: 0; }
	100%{ right: -25vw; opacity: 0; }
}
.an02{
	transform: rotate(-45deg);
	z-index: 0;
	animation: an02 1s linear infinite;
  	animation-play-state: paused;
  	animation-delay: calc(var(--scroll) * -1s);
  	animation-iteration-count: 1;
  	animation-fill-mode: both;
}
@keyframes an02 {
	0%{ right: 18vw; opacity: 1; }
	80%{ right: 8vw; opacity: 0; }
	100%{ right: 8vw; opacity: 0; }
}
.an03{
	transform: rotate(45deg);
	z-index: 0;
	animation: an03 1s linear infinite;
  	animation-play-state: paused;
  	animation-delay: calc(var(--scroll) * -1s);
  	animation-iteration-count: 1;
  	animation-fill-mode: both;
}
@keyframes an03 {
	0%{ right: 41vw; opacity: 1; }
	80%{ right: 51vw; opacity: 0; }
	100%{ right: 51vw; opacity: 0; }
}
.an04{
	transform: rotate(-65deg) scale(-1,1);
	z-index: 1;
	animation: an04 1s linear infinite;
  	animation-play-state: paused;
  	animation-delay: calc(var(--scroll) * -1s);
  	animation-iteration-count: 1;
  	animation-fill-mode: both;
}
@keyframes an04 {
	0%{ left: 0vw; opacity: 1; }
	80%{ left: -10vw; opacity: 0; }
	100%{ left: -10vw; opacity: 0; }
}
.an05{
	animation: an05 1s linear infinite;
  	animation-play-state: paused;
  	animation-delay: calc(var(--scroll) * -1s);
  	animation-iteration-count: 1;
  	animation-fill-mode: both;
}
@keyframes an05 {
	0%{ right: 0vw; opacity: 1; }
	80%{ right: -10vw; opacity: 0; }
	100%{ right: -10vw; opacity: 0; }
}
.an06{
	animation: an06 1s linear infinite;
  	animation-play-state: paused;
  	animation-delay: calc(var(--scroll) * -1s);
  	animation-iteration-count: 1;
  	animation-fill-mode: both;
}
@keyframes an06 {
	0%{ left: 0vw; opacity: 1; }
	80%{ left: -10vw; opacity: 0; }
	100%{ left: -10vw; opacity: 0; }
}
.an07{
	animation: an07 1s linear infinite;
  	animation-play-state: paused;
  	animation-delay: calc(var(--scroll) * -1s);
  	animation-iteration-count: 1;
  	animation-fill-mode: both;
}
@keyframes an07 {
	0%{ right: -4vw; opacity: 1; }
	80%{ right: 4vw; opacity: 0; }
	100%{ right: 4vw; opacity: 0; }
}
.an08{
	animation: an08 1s linear infinite;
  	animation-play-state: paused;
  	animation-delay: calc(var(--scroll) * -1s);
  	animation-iteration-count: 1;
  	animation-fill-mode: both;
}
@keyframes an08 {
	0%{ top: -5vw; opacity: 1; transform: scale(1);}
	80%{ top: 15vw; opacity: 0; transform: scale(0.4);}
	100%{ top: 15vw; opacity: 0; transform: scale(0.4);}
}
/*page2*/
.set05{
	position: absolute;
	width: auto;
	height: 257vw;
	z-index: 3;
	top: 0;
  }
.Eff1{
	position: absolute;
	animation: Eff1 10s linear infinite;
	top: 35vw;
	left: 15vw;
	width: auto;
	height: 15vw;
	z-index: 10;
	transition: 0.5s;
  }
  @keyframes Eff1 { 
	0%   { left: 15vw; transform: scale(1,1); top: 35vw;}
	14%  { left: 25vw; transform: scale(1,1); top: 37vw;}
	28%  { left: 35vw; transform: scale(1,1); top: 35vw;}
	41%  { left: 40vw; transform: scale(1,1); top: 37vw;}
	42%  { left: 40vw; transform: scale(-1,1); top: 35vw;}
	55%  { left: 35vw; transform: scale(-1,1); top: 35vw;}
	65% { left: 27vw; transform: scale(-1,1); top: 37vw;}
	75% { left: 25vw; transform: scale(-1,1); top: 35vw;}
	95% { left: 15vw; transform: scale(-1,1); top: 35vw;}
	100% { left: 15vw; transform: scale(1,1); top: 35vw;}
  }
.Eff2{
	position: absolute;
	animation: Eff2 10s linear infinite;
	top: 38vw;
	left: -3.2vw;
	width: auto;
	height: 55vw;
	z-index: 10;
	transition: 0.5s;
}
  @keyframes Eff2{
  
}
.Eff3{
	position: absolute;
	animation: Eff3 10s linear infinite;
	top:43vw;
	right: -2vw;
	z-index: 8;
	width: auto;
	height: 22vw;
	transition: 0.5s;
}
  @keyframes Eff3{
  
}
.Eff4{
	position: absolute;
	animation: Eff4 10s linear infinite;
	top: 57vw;
	right: 8vw;
	z-index: 8;
	width: auto;
	height: 26vw;
	transition: 0.5s;
}
  @keyframes Eff4{
  
}
.set04{
	position: absolute;
	width: auto;
	height: 35vw;
	z-index: 12;
	top: 90vw;
  }
.bg2{
	position: absolute;
	top: 0;
	width: 100%;
<<<<<<< HEAD
	height: 51vw;
}

}
.Eff1:hover , .Eff2:hover , .Eff3:hover, .Eff4:hover , .SP1:hover , .SP2:hover , .setpun1:hover , .SP4:hover , .SP5:hover , .SP6:hover{
    cursor: url(rc.cur), auto;
    filter: drop-shadow(0 0 50px crimson);
}
.setpun1{
  transition: 0.5s;
  position: absolute;
  z-index: 4;
  top: 25vw;
  left: 70vw;
}
.setpun2{
  position: absolute;
  z-index: 3;
  top: 60vw;
}
.setpun3{
  position: absolute;
  z-index: 5;
  left: 150vw;
  top: 105vw;
}
.setpun4{
  position: absolute;
  z-index: 4;
  left: 30vw;
  top: 131vw;
}
.setpun5{
  position: absolute;
  z-index: 4;
  left: 100vw;
  top: 200vw;
}
.SP1{
  transition: 0.5s;
  position: absolute;
  z-index: 4;
  left: 40vw;
  top: 70vw;
}
.SP2{
  transition: 0.5s;
  position: absolute;
  z-index: 4;
  left: 20vw;
  top: 105vw;
}
.SP3{
  position: absolute;
  z-index: 4;
  left: 1400px;
  top: 3100px;
}
.SP7{
  position: absolute;
  z-index: 4;
  left: 1500px;
  top: 6000px;
}
.SP4{
  transition: 0.5s;
  position: absolute;
  z-index: 4;
  left: 650px;
  top: 4000px;
}
.SP5{
  transition: 0.5s;
  position: absolute;
  z-index: 4;
  left: 600px;
  top: 4300px;
}
.SP6{
  position: absolute;
  z-index: 4;
  left: 1200px;
  top: 4600px;
}
=======
	height: 257vw;
	z-index: -10;
}
>>>>>>> bd7d88343f56a091b13e8fe200b5874dfc5ba660
